
:root {
    --pearl-bush: #E5DDD1;
    --flint: #68635B;
}

body {
    background-color: var(--pearl-bush);
    color: var(--flint);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.chart-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chart-graph-section {
    width: 100%;
    background-color: rgb(229, 221, 209);
    border-radius: 32px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.chart-content-box-left,
.chart-content-box-right {
    flex: 1;
    max-width: 650px;
    height: auto;
    background-color: var(--pearl-bush);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
}

.chart-graph-left,
.chart-graph-right {
    flex: 1;
    min-width: 60%;
    padding: 10px;
    background-color: rgb(229, 221, 209);
    box-sizing: border-box;
}

/* Country Navigation Styling */
.country-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.arrow-button {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

#country-title {
    margin: 0;
    font-size: 50px;
}

/* Dropdown Styling */
.dropdown-below-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#country-select {
    padding: 5px;
    border: 1px solid var(--flint);
    border-radius: 4px;
    background-color: white;
    color: var(--flint);
}

/* Tooltip Styling */
#tooltip {
    position: absolute;
    background-color: var(--pearl-bush);
    border: 1px solid var(--flint);
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    color: var(--flint);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Chart Titles */
.chart2-title p,
.chart3-title p,
.chart4-title p,
.map-title p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Axis and Label Styling */
.axis--x text, .axis--y text {
    font-size: 12px;
    fill: var(--flint);
}

.axis--x line, .axis--y line {
    stroke: var(--flint);
}

.y-axis-label {
    text-anchor: middle;
    transform: rotate(-90deg);
    font-size: 14px;
    fill: var(--flint);
    transform-origin: left center;
}

/* Bar Chart Hover Effect */
.bar:hover {
    fill: rgba(0, 195, 255, 0.8);
}
