.line {
  fill: none;
  stroke-width: 2px;
}
.axis {
  font: 10px sans-serif;
}
.chart4-title {
  text-align: right; /* Aligns text to the right */
  padding-right: 10px; /* Adds a little spacing from the right edge */
  font-size: 16px;
  font-weight: bold;
}

.tooltipHIV {
  font-size: 12px;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}